services:
  app:
    build: .
    container_name: social_media_app
    restart: always
    env_file:
      - .env
    ports:
      - "80:80"
    depends_on:
      - db
    volumes:
      - .:/var/www/html

  db:
    image: mysql/mysql-server:8.0
    container_name: social_media_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

  redis:
    image: redis:alpine
    container_name: social_media_redis
    restart: always

  nginx:
    image: nginx:latest
    container_name: social_media_nginx
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - app

volumes:
  db_data: