@import "tailwindcss";
/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

/* body {
  overflow: hidden; 
} */

*:focus {
    outline: none;
}

.font-tangerine {
    font-family: 'Tangerine', cursive;
}

.font-birthstone {
    font-family: 'Birthstone', cursive;
}

/* bg-gradient-purple */
.bg-gradient-purple {
    background-color: #310e68;
    background-image: linear-gradient(316deg, #5f0f40 0%, #310e68 74%);
}

.login-box {
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
}

.login-box p:first-child {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box input:focus {
    outline: none;
}

/* .login-box .user-box input:focus ~ label,
.login-box .user-box input:not(:placeholder-shown) ~ label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
} */


.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 12px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input.has-content~label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
}

.login-box p:last-child {
    color: #fff;
    font-size: 14px;
}



/* typing animation */

.typing-container .typing-text {
    color: #fff;
    overflow: hidden;
    border-right: none;
    white-space: nowrap;
    margin: 0 auto;
    font-size: 16px;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    0% {
        width: 0;
        border-right: .15em solid #fff;
    }

    25% {
        width: 25%;
        border-right: .15em solid #fff;
    }

    50% {
        width: 50%;
        border-right: .15em solid #fff;}

    75% {
        width: 75%;
        border-right: .15em solid #fff;
    }

    100% {
        width: 100%;
        border-right: none;
    }
}